body{
    background-color: white;
    color: black;
    scroll-behavior: smooth;
}



.banner_content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;   
}


.banner_content h1{
    font-size: 2.00rem;
    font-weight: bold;
    margin: 8px;
    padding: 1.00rem;
}


.banner_content p{
    font-size: 1.85rem;
    color: rgb(168, 168, 168);
}